<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net40" />
  <package id="MigratorDotNet" version="0.9.0.28138" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
</packages>